@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Manrope:wght@200..800&display=swap');
@media screen and (max-width:576px) {
    .mbleHiden{
        visibility: hidden;
        
    }
    .loguh2{
        visibility: hidden;
    }
    .foter1{
        margin-top: 500px;
    }
  
}
.img{
    width: 100%;
  
}
.news{
  top: -250px;
  width: 360px;
  margin-left: 15px;
}
@media screen and (max-width:395px) {
    .foter1{
        margin-top: 50px;
    }
    .hhh{
        margin-bottom: 600px;
    }
    .news{
        top: -500px;
        width: 200px;
        margin-left: 15px;
      }
      
  
}
@media screen and (max-width:420px) {
    .foter1{
        
    }
    .hhh{
        margin-bottom: 500px;
    }
  
}
@media screen and (max-width:450px) {
    .foter1{
        
    }
    .hhh{
        margin-bottom: 500px;
    }
  
}
@media screen and (max-width:576px) {
    .foter1{
        
    }
    .hhh{
        margin-bottom: 500px;
    }
  
}
.body{
  font-family: "ADLaM Display", serif;;
}