@media screen and (max-width:576px) {
    .mbleHiden{
        visibility: hidden;
        
    }
    .menuborder{
        border: 1px solid black;
    }
    .hamberger{
       display: block;
       font-size: 30px;
       text-align: right;
     
    }
    .loguh2{
        display: none;
    }
}
.hamberger{
  
   display: none;
}
.img{
    width: 100%;
}